@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap');
@import 'variables.scss';
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
@import 'reset.scss';

$gray: #96a1ab;
$claret: #a92807;
$darkGray: #384657;

body{
    font-size:18px;
    color:$gray;
    padding-top:165px;
}

h2{
    color:$claret;
    font-weight: 400;
}
h3{
    color:$darkGray;
}
p{
    line-height: 22px;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #f2f5f7 inset !important;
}

.btn{
    min-width:200px;
}

header{
    background: #fff;
    position:fixed;
    top:0;
    width:100%;
    z-index: 99;
    box-shadow: 0px 10px 40px 0 rgba(0, 0, 0, 0.06);
    .logo{
        width:203px;
        transition:.4s;
    }
    .mainmenu{
        a{
            color:$gray;
            padding:0px 20px;
            transform: .4s;
            &:hover, &.active{
                color:$claret;
            }
        }
    }
    &.min{
        .logo{
            width:80px;
        }
    }
}

footer{
    #contact{
        background: url($img+"footer-bg.jpg") no-repeat center center;
        background-size:cover;
        form{
            .inputGroup{
                >div{
                    width:calc(50% - 7.5px);
                    
                }
            }
        }
    }
    .footer-social{
        background: #2a323c;
        .social-media{
            display: flex;
            a{
                width:50px;
                height:50px;
                background: #1f2529;
                background-position: center center;
                background-repeat: no-repeat;
                display: block;
                margin-left:8px;
                transition: .4s;
                &:first-child{
                    margin-left:0;
                }
                &:hover{
                    background-color: #000;
                }
                &.fc{
                    background-image: url($img+"ic-fc.svg");
                    background-size:7px;
                }
                &.tw{
                    background-image: url($img+"ic-tw.svg");
                    background-size:14px;
                }
                &.yt{
                    background-image: url($img+"ic-yt.svg");
                    background-size:13px;
                }
                &.pt{
                    background-image: url($img+"ic-pt.svg");
                    background-size:14px;
                }
            }
        }
    }
    .footer-bottom{
        background: #1f2529;
    }
}