@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap');
@import 'variables.scss';
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
@import 'reset.scss';

$gray: #96a1ab;
$claret: #a92807;
$darkGray: #384657;

body{
    font-size:18px;
    color:$gray;
}

h2{
    color:$claret;
    font-weight: 400;
}
h3{
    color:$darkGray;
}
p{
    line-height: 22px;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #f2f5f7 inset !important;
}

.btn{
    min-width:200px;
}

header{
    background: rgba(#fff, .7);
    position:fixed;
    top:0;
    width:100%;
    z-index: 99;
    box-shadow: 0px 10px 40px 0 rgba(0, 0, 0, 0.06);
    transition:background .4s;
    .logo{
        width:202px;
        transition:.4s;
    }
    .mainmenu{
        ul{
            display: flex;
            li{
                position:relative;
                padding:10px 20px 15px;
                a{
                    color:#000;
                    transition: .4s;
                    &:hover, &.active{
                        color:$claret;
                    }
                }
                &:hover{
                    >a{
                        color:$claret;
                    }
                    >div{
                        display: block;
                        animation-name:fadeIn;
                    }
                }
                >div{
                    position: absolute;
                    width: 210px;
                    left: 20px;
                    background:#2a323c;
                    padding: 10px 0;
                    top: 51px;
                    display: none;
                    animation-duration: .7s;
                    animation-fill-mode: both;
                    &:before{
                        content:"";
                        position:absolute;
                        left:0;
                        top:0;
                        width:16px;
                        height:16px;
                        top: -7px;
                        left: 19px;
                        transform: rotate(45deg);
                        background: #2a323c;
                    }
                    a{
                        color:#dadada;
                        display: block;
                        padding:5px 20px;
                        &:hover, &.active{
                            color:#fff;
                        }
                    }
                }
            }
        }
    }
    &.min{
        background: #fff;
        .logo{
            width:80px;
        }
    }
}

footer{
    #contact{
        background: url($img+"footer-bg.jpg") no-repeat center center;
        background-size:cover;
        form{
            .inputGroup{
                >div{
                    width:calc(50% - 7.5px);
                    
                }
            }
        }
    }
    .footer-social{
        background: #2a323c;
        .social-media{
            display: flex;
            a{
                width:50px;
                height:50px;
                background: #1f2529;
                background-position: center center;
                background-repeat: no-repeat;
                display: block;
                margin-left:8px;
                transition: .4s;
                &:first-child{
                    margin-left:0;
                }
                &:hover{
                    background-color: #000;
                }
                &.fc{
                    background-image: url($img+"ic-fc.svg");
                    background-size:7px;
                }
                &.tw{
                    background-image: url($img+"ic-tw.svg");
                    background-size:14px;
                }
                &.yt{
                    background-image: url($img+"ic-yt.svg");
                    background-size:13px;
                }
                &.pt{
                    background-image: url($img+"ic-pt.svg");
                    background-size:14px;
                }
            }
        }
    }
    .footer-bottom{
        background: #1f2529;
    }
}

.companies{
    padding-top:165px;
    .banner{
        background-size:cover !important;
        height: 500px;
        @media screen and(max-width:$screenmd){
            height: auto;
            min-height: 300px;
            .container{
                padding:50px 0px;
                min-height: 300px;
            }
        }
        h2{
            font-size:50px;
            line-height: 60px;
            color:#fff;
            @media screen and(max-width:$screenmd){
                font-size:32px;
                line-height: 36px;
            }
        }
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
    }
    @keyframes fadeIn {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
}