@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap');
@import 'variables.scss';
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
@import 'reset.scss';

$gray: #96a1ab;
$claret: #a92807;
$darkGray: #384657; 

body{
    font-size:18px;
    color:$gray;
}

/*type*/
h2{
    color:$claret;
    font-weight: 600;
}
h3{
    color:$darkGray;
    @media screen and(max-width:$screenmd){
        font-size:42px;
        line-height: 50px;
    }
}
h4{
    color:#000;
}
p{
    line-height: 22px;
}
.btn{
    min-width:200px;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #f2f5f7 inset !important;
}


/*Main*/
header{
    background: rgba(#fff, .7);
    position:fixed;
    top:0;
    width:100%;
    z-index: 99;
    box-shadow: 0px 10px 40px 0 rgba(0, 0, 0, 0.06);
    transition:background .4s;
    .logo{
        width:140.3px;
        transition:.4s;
        @media screen and(max-width:$screenmd){
            width:87.7px;
        }
    }
    .mainmenu{
        @media screen and(max-width:$screenmd){
            width: 100%;
            height: 0;
            overflow: hidden;
            transition:height .4s;
            &.opened{
                height: 194px;
            }
        }
        ul{
            display: flex;
            @media screen and(max-width:$screenmd){
                display: block;
                border-top: 1px solid rgba(0, 0, 0, 0.1);
                padding-top: 20px;
                margin-top: 25px;
            }
            li{
                position:relative;
                padding:8px 20px 15px;
                @media screen and(max-width:$screenmd){
                    padding:5px;
                }
                a{
                    color:#000;
                    transition:color .4s;
                    &:hover, &.active{
                        color:$claret;
                    }
                }
                &:hover{
                    >a{
                        color:$claret;
                    }
                    >div{
                        display: block;
                        animation-name:fadeIn;
                        @media screen and(max-width:$screenmd){
                            display: none;
                        }
                    }
                }
                >div{
                    position: absolute;
                    width: 210px;
                    left: 20px;
                    background:#2a323c;
                    padding: 10px 0;
                    top: 51px;
                    display: none;
                    animation-duration: .7s;
                    animation-fill-mode: both;
                    &:before{
                        content:"";
                        position:absolute;
                        left:0;
                        top:0;
                        width:16px;
                        height:16px;
                        top: -7px;
                        left: 19px;
                        transform: rotate(45deg);
                        background: #2a323c;
                    }
                    a{
                        color:#dadada;
                        display: block;
                        padding:5px 20px;
                        &:hover, &.active{
                            color:#fff;
                        }
                    }
                }
            }
        }
    }
    .hamb-menu{
        width:45px;
        height: 24px;
        display:block;
        position:relative;
        border-top:2px solid $claret;
        cursor: pointer;
        transition:border-color .4s;
        &:before, &:after{
            content:"";
            width:45px;
            height:2px;
            position:absolute;
            top:0;
            left:0;
            background: $claret;
            transition:.4s;
        }
        &:before{
            top:10px;
        }
        &:after{
            top:20px;
        }
        &:hover{
            &:before{
              width:34px;  
            }
            &:after{
                width:41px;
            }
        }
        &.opened{
            width:40px;
            border-color: transparent;
            &:before{
                transform: rotate(-135deg);
                width:40px;
            }
            &::after{
                transform: rotate(135deg);
                width:40px;
                top:10px;
            }
        }
    }
    &.min{
        background: #fff;
        .logo{
            width:80px;
            @media screen and(max-width:$screenmd){
                width:87.7px;
            }
        }
    }
}
footer{
    #contact{
        background: url($img+"footer-bg.jpg") no-repeat 26% center;
        background-size:cover;
        padding:80px 0;
        h2{
            background-color:#2a323c;
        }
        .form-wrap{
            background-color: rgba(255, 255, 255, .6);
            form{
                .inputGroup{
                    >div{
                        width:calc(50% - 7.5px);
                        @media screen and(max-width:$screensm){
                            width:100%;
                        }
                    }
                }
                .btn-success{
                    background-color: #2a323c;
                    border-color: #2a323c;
                    &:hover{
                        background-color: #20262a;
                        border-color: #20262a;
                    }
                }
                textarea{
                    resize: none;
                    height:100px;
                }
            }
        }
    }
    .footer-social{
        background: #2a323c;
        .social-media{
            display: flex;
            a{
                width:50px;
                height:50px;
                background: #1f2529;
                background-position: center center;
                background-repeat: no-repeat;
                display: block;
                margin-left:8px;
                transition: .4s;
                &:first-child{
                    margin-left:0;
                }
                &:hover{
                    background-color: #000;
                }
                &.fc{
                    background-image: url($img+"ic-fc.svg");
                    background-size:7px;
                }
                &.ln{
                    background-image: url($img+"ic-in.svg");
                    background-size:14px;
                }
                &.ins{
                    background-image: url($img+"ic-ins.svg");
                    background-size:14px;
                }
                &.tw{
                    background-image: url($img+"ic-tw.svg");
                    background-size:14px;
                }
                &.yt{
                    background-image: url($img+"ic-yt.svg");
                    background-size:13px;
                }
                &.pt{
                    background-image: url($img+"ic-pt.svg");
                    background-size:14px;
                }
            }
        }
    }
    .footer-bottom{
        background: #1f2529;
    }
}

/*tabs*/
.tabs{
    border-bottom:1px solid $gray;
    @media screen and(max-width:$screenmd){
        border-bottom:0 none;
    }
    ul{
        display: flex;
        flex-wrap: wrap;
        @media screen and(max-width:$screenmd){
            display: block;
            border-bottom:3px solid $claret;
        }
        li{
            border-bottom:3px solid transparent;
            padding-bottom:10px;
            margin-left:50px;
            @media screen and(max-width:$screenmd){
                margin-left:0;
                border-bottom:0 none;
                text-align: center;
            }
            &:first-child{
                margin-left:0;
            }
            &.is-active{
                border-color:$claret;
                margin-bottom:-2px;
                @media screen and(max-width:$screenmd){
                    margin-bottom:0;
                }
                a{
                    color:$claret;
                }
            }
            a{
                color:$gray;
                font-size:20px;
            }
        }
    }
}
.tabs-details{
    margin-top:40px;
    @media screen and(max-width:$screenmd){
        margin-top:0;
    }
}

/*marquee*/
.marquee-text-wrap{
    .marquee-text-text{
        display: flex;
    }
    &:hover{
        .marquee-text-text{
            -webkit-animation-play-state: paused;
            animation-play-state: paused;
        }
    }
}

/*Pages*/
.companies{
    padding-top:130px;
    @media screen and(max-width:$screenmd){
        padding-top:102px;
    }
    .banner{
        background-size:cover !important;
        height: 500px;
        @media screen and(max-width:$screenmd){
            height: auto;
            min-height: 300px;
            .container{
                padding:50px 0px;
                min-height: 300px;
            }
        }
        h2{
            font-size:50px;
            line-height: 60px;
            color:#fff;
            @media screen and(max-width:$screenmd){
                font-size:32px;
                line-height: 36px;
            }
        }
    }
}

/*Animate*/
.animated{
    animation-duration: .7s;
    animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
}
.fadeIn{
    animation-name: fadeIn;
}